*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(236, 62, 207); For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(230, 23, 212), rgb(159, 248, 233));
}

.wrapper{
    background-color: rgb(253, 199, 99);
    height: 400px;
    width: 450px;
    border-radius: 25px;
    text-align: center;
}

.header h1{
    font-size: 30px;
    color: red;
    padding: 10px;
}
.form input{
    width: 70%;
    height: 30px;
    border: none;
    outline: none;
    display: block;
    margin: auto;
    border-radius: 20px;
    outline-style: none;
    margin-top: 10px;
}
.form input{
    font-size: 16px;
    padding: 15px;
    margin-top: 15px;
    /* text-align: center; */
    box-shadow: 0 5px #999;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form ::placeholder{
    color:blueviolet;
}
.form button{
    font-size: 16px;
    font-weight: 300;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    background-color: rgb(0, 255, 170);
    color:rgb(34, 31, 248);
    font-style: oblique;
    border: 8px;
    font-weight: 600;
    border-radius: 20px;
    outline-style: auto;
    outline:none;
    outline-color: rgb(3, 0, 5);
}
.form button:hover {
    background-color: #3e8e41;
    color: yellow;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.form button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.form input:focus {
    height: 40px;
    font-size: 20px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #weak, #error, #weak1{
    margin-top: 15px;
    display: none;
    color: red;
    justify-content: center;
  }
  #strong, #correct, #strong1{
    margin-top: 15px;
    display: none;
    color: green;
    justify-content: center;
  }
  
  form i {
    /* margin-left: 150px; */
    right: 545px;
    top: 328px;
    cursor: pointer;
    position: absolute;
}

@media screen and (max-width: 1024px) /* Desktop */ {
  .wrapper {
    background: rgb(253, 199, 99);
    height: 500px;
    width: 600px;
  }
  .header h1{
    font-size: 40px;
}
.form input{
  width: 80%;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
  margin-top: 20px;
}
.form input:focus {
  height: 50px;
  font-size: 22px;
  transform: translateY(5px);
}
.form button{
  font-size: 20px;
  width: 130px;
  height: 35px;
  margin-top: 30px;
}
.form button:hover {
  font-size: 25px;
}
.form button:active {
  transform: translateY(5px);
}
#weak, #error, #weak1{
  font-size: 22px;
}
#strong, #correct, #strong1{
  font-size: 22px;
}
form i {
  right: 300px;
  top: 300px; 
}
}

@media screen  and (max-width: 768px) /* Tablet */ {
  .wrapper {
    background: rgb(253, 199, 99);
    height: 500px;
    width: 600px;
  }
  .header h1{
    font-size: 40px;
}
.form input{
  width: 80%;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
  margin-top: 20px;
}
.form input:focus {
  height: 50px;
  font-size: 22px;
  transform: translateY(5px);
}
.form button{
  font-size: 20px;
  width: 130px;
  height: 35px;
  margin-top: 30px;
}
.form button:hover {
  font-size: 25px;
}
.form button:active {
  transform: translateY(5px);
}
#weak, #error, #weak1{
  font-size: 22px;
}
#strong, #correct, #strong1{
  font-size: 22px;
}
form i {
  /* margin-left: 150px; */
  right: 170px;
  top: 300px;
  
}
}
@media screen and (max-width: 425px) /* Mobile */ {
  .wrapper {
    background: rgb(253, 199, 99);
    height: 500px;
    width: 400px;
  }
  .header h1{
    font-size: 32px;
}
.form input{
  width: 87%;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  margin-top: 20px;
}
#weak, #error, #weak1{
  font-size: 18px;
}
#strong, #correct, #strong1{
  font-size: 18px;
}
form i {
  /* margin-left: 150px; */
  right: 55px;
  top: 290px;  
}
}


@media screen and (max-width: 375px) /* Mobile */ {
  .wrapper {
    background: rgb(253, 199, 99);
    height: 500px;
    width: 350px;
  }
  .header h1{
    font-size: 30px;
}
.form input{
  width: 85%;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  margin-top: 20px;
}
/* .form input:focus {
  height: 50px;
  font-size: 22px;
  transform: translateY(5px);
}
.form button{
  font-size: 20px;
  width: 130px;
  height: 35px;
  margin-top: 30px;
}
.form button:hover {
  font-size: 25px;
}
.form button:active {
  transform: translateY(5px);
} */
#weak, #error, #weak1{
  font-size: 17px;
}
#strong, #correct, #strong1{
  font-size: 17px;
}
form i {
  /* margin-left: 150px; */
  right: 55px;
  top: 286px;  
}
}
@media screen and (max-width: 320px) /* Mobile */ {
  .wrapper {
    background: rgb(253, 199, 99);
    height: 500px;
    width: 300px;
  }
  .header h1{
    font-size: 30px;
}
.form input{
  width: 80%;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  margin-top: 20px;
}
.form input:focus {
  height: 50px;
  font-size: 22px;
  transform: translateY(5px);
}
.form button{
  font-size: 20px;
  width: 130px;
  height: 35px;
  margin-top: 30px;
}
.form button:hover {
  font-size: 25px;
}
.form button:active {
  transform: translateY(5px);
}
#weak, #error, #weak1{
  font-size: 15px;
}
#strong, #correct, #strong1{
  font-size: 15px;
}
form i {
  /* margin-left: 150px; */
  right: 55px;
  top: 286px;  
}
}